<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DataContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MyNewDataBase;" providerName="System.Data.sqlClient" /> <!-- The catalog is the new of the database -->
		<add name="AppConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AppDataBase;" providerName="System.Data.sqlClient" /> <!-- why we have 2 add tags? well in the program we specify which one we want when we create the DataContext object -->
	</connectionStrings>
</configuration>